/* .nav {
  background-color: lightslategray;
  padding: 20px;
}
.input-check {
  width: 74%;
}
input {
  padding: 5px;
  margin: 5px;
  width: 90%;
}
.file-form {
  width: 400px;
  border: 2px solid lightslategrey;
  text-align: center;
  margin: 20px auto;
  border-radius: 10px;
}
.form-label {
  text-align: left;
  margin: 20px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 3px solid maroon;
}
.links {
  margin: 10px;
  color: white;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
}



 */
.links {
  color: black;
  text-decoration: none;
}
.active {
  border-bottom: 5px solid rgb(56, 56, 56);
}
h1 {
  text-align: center;
  padding-bottom: 40px;
}
.error,
.msg {
  font-weight: bold;
  font-style: italic;
  color: rgb(173, 49, 49);
  text-align: center;
}
.msg {
  color: green;
}

.content-wrapper {
  background: linear-gradient(to top, #1066cf, #88c6d3, #af7bd1, #dfbbdb);
}

.login-btn {
  background: radial-gradient(circle, #1066cf, #88c6d3, #af7bd1, #dfbbdb);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 15px;
}
.min-w-50 {
  min-width: 30%;
}
